      <div class="flex rounded-xl bg-white p-10">
        <div class="rounded-3xl">
          <img src="./img/avatar-image.png" alt />
        </div>
        <div class="mx-4 w-full">
          <form>
            <div class="mb-6">
              <label
                for="email"
                class="mb-2 block text-sm font-medium text-gray-900">اسم الموارد</label>
              <input
                type="text"
                id="email"
                class="block w-full rounded-lg border border-gray-300 bg-rose-50 p-2.5 text-base font-bold text-black focus:border-blue-500 focus:ring-blue-500"
                placeholder="هيثم محمد "
                required />
            </div>
          </form>
        </div>
      </div>
