     <div class="flex items-center justify-between">
        <div class="flex items-center justify-start">
          <button class="mx-4 rounded-xl bg-[#E7EAED] p-3 shadow-lg">
       <img  src=" ../../../assets/img/arrow-right.svg " alt="">
          </button>
          <h4 class="text-2xl font-bold">إضافة موارد جديدة</h4>
        </div>
        <div class="flex">
          <label class="relative inline-flex cursor-pointer items-center">
            <input type="checkbox" value class="peer sr-only" />
            <div
              class="peer absolute h-6 w-11 rounded-full bg-gray-200 after:absolute after:left-[2px] after:top-[2px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300"></div>
            <span class="mx-16 text-lg font-medium text-gray-900">مفعلة</span>
          </label>

          <button class="mx-4 rounded-lg bg-[#1C1C28] px-5 py-3 text-white">
            حفظ التغييرات
          </button>
          <button
            class="flex rounded-lg border-2 border-rose-500 bg-[#FFF6F6] px-5 py-3 font-bold text-rose-500 hover:bg-rose-300 hover:text-white">
            <img src=" ../../../assets/img/trash.svg " alt class="me-2" />
            حذف المورد
          </button>
        </div>
      </div>
